
<form ng-if="!changeVm.editFlag && !changeVm.editedFlag" ng-submit="changeVm.editReservation(IDResForm.$valid)" novalidate name="IDResForm" class="error animate-if padding">

    <div class="input-group margin-bottom-sm">
        <label >Reservation ID</label>
        <input class="form-control" type="number" title="Your reservation ID" placeholder="xxxx" required name="resvID" ng-model="changeVm.editReserve.reservation_id" >
    </div>
    <div ng-if="changeVm.error" >
        <p>The reservation ID is invalid</p>
    </div>
    <div class="padding">
        <button class="btn btn-default btn-m btn-danger "  ng-disabled="!IDResForm.$valid" type="submit">Change Reservation</button>
    </div>
</form>

<div ng-if="changeVm.editFlag" class="animate-if  padding">

    <form name="editResForm" ng-submit="changeVm.saveEdit(editResForm.$valid)">

        <div class="input-group margin-bottom-sm col-md-6">
            <label >First Name</label>
            <input class="form-control" type="text" placeholder="" ng-model="newVm.newReservation.fname" required  name="fname">
        </div>
        <div ng-messages="newResForm.fname.$error" ng-if="newResForm.fname.$dirty">
            <p ng-message="required">Required</p>
        </div>

        <div class="input-group margin-bottom-sm col-md-6">
            <label >Last Name</label>
            <input class="form-control" type="text" placeholder="" ng-model="newVm.newReservation.lastname" required  name="lastname">
        </div>
        <div ng-messages="newResForm.lastname.$error" ng-if="newResForm.lastname.$dirty">
            <p ng-message="required">Required</p>
        </div>

        <div class="input-group margin-bottom-sm col-md-6">
            <label >Age</label>
            <input class="form-control" type="number" ng-model="newVm.newReservation.guests"  required max="100" min="1" value="1" name="age">
        </div>
        <div ng-messages="newResForm.age.$error" ng-if="newResForm.age.$dirty">
            <p ng-message="required">Required</p>
            <p ng-message="min">Age must be greater than one</p>
        </div>

        <div class="input-group margin-bottom-sm col-md-6 ">
            <label >Gender</label></br>
            <input  ng-model="newVm.newReservation.gender"   name="gender" type="radio" name="gender" /> : Male<br />
            <input ng-model="newVm.newReservation.gender"  name="gender" type="radio" name="gender" /> : Female<br />
        </div>
        <div ng-messages="newResForm.gender.$error" ng-if="newResForm.gender.$dirty">
            <p ng-message="required">Required</p>
        </div>

        <div class="input-group margin-bottom-sm col-md-6">
            <label >Phone</label>
            <input class="form-control" type="tel" placeholder="xxxxxxxxxx" ng-model="newVm.newReservation.phone" required name="contact" ng-pattern="/^[0-9]{10}$/">
        </div>
        <div ng-messages="newResForm.contact.$error" ng-if="newResForm.contact.$dirty">
            <p ng-message="required">Required</p>
            <p ng-message="pattern">Contact Number must be 10 digits</p>
        </div>

        <div class="input-group margin-bottom-sm col-md-6">
            <label >Zip</label>
            <input class="form-control" type="number" ng-model="newVm.newReservation.zip" placeholder="zip" name="zip" >
        </div>
        <div ng-messages="newResForm.zip.$error" ng-if="newResForm.zip.$dirty">
            <p ng-message="number">zip must be valid</p>
        </div>
        <div class="padding">
            <button class="btn btn-default btn-m btn-rate btn-danger" ng-disabled="!editResForm.$valid" type="submit">Save</button>
        </div>
    </form>
</div>

<div ng-if="changeVm.editedFlag" class="animate-if">

    <h3>The changes have been saved</h3>
</div>
